.inline-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .three-dots {
    color: #bcbccb !important;
  }
}

.office-logo {
  .ui-button-warning {
    background-color: #ffb545;
  }
}

.ui-button-secondary {
  border: none;
  background-color: transparent !important;
}

.pi-search {
  color: #bcbccb;
}

.Filter-panel {
  .filter-box {
    border-top: 1px dashed #808495;
    border-bottom: 1px dashed #808495;
    margin: 2vh 0vh 4vh 0vh;
    padding-top: 2vh;
  }
  .ui-button {
    width: 130px;
  }
  .inline-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .filter-icon,
    .filter-icon1:hover {
      background: white !important;
      color: #ffb545 !important;
    }
  }
}

.voter-search-card {
  .filter-icon {
    color: #ffb545;
  }
  .filter-icon1 {
    color: #ffb545;
    &:before {
      content: "";
      position: absolute;
      width: 9px;
      height: 9px;
      background: red;
      border-radius: 50%;
      left: 13px;
      right: 0;
      margin: auto;
      top: 3px;
      z-index: 1;
    }
  }
  .filter-icon,
  .filter-icon1:hover {
    background: white !important;
    color: #ffb545 !important;
  }
}

.kiosk-img {
  display: flex;
  align-items: center;
  .visitor-img {
    height: 20px;
    width: 20px;
  }
}

.visitor-expanded {
  max-height: 195px;
  min-height: 10px;
  overflow-y: auto;
  margin: 0px;
}

.delete {
  opacity: 0.4;
}

.delete-text {
  display: flex;
}

.del-padding {
  padding: 5px;
  font-size: 12px;
}
p-table {
  .tbl-header {
    th {
      width: auto !important;
      padding: 0.75em 1.214em !important;
    }
  }
  .tbl-body-row {
    td {
      padding: 0.75em 1.214em !important;
      height: 50px;
    }
  }
}
@media (max-width: 1100px) {
  .topbar-title {
    margin-top: 3px;
  }
}
@media (max-width: 767px) {
  .voter-search-card {
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
  }
  .expandable-tbl {
    margin-bottom: 10px;
    border-radius: 4px;
  }
  button[icon="pi pi-ellipsis-v"] {
    display: none;
  }
  .filter-btn {
    flex-wrap: nowrap;
  }
}

.ui-md-1,
.ui-md-2,
.ui-md-3,
.ui-md-4,
.ui-md-5,
.ui-md-6,
.ui-md-7,
.ui-md-8,
.ui-md-9,
.ui-md-10,
.ui-md-11,
.ui-md-12,
.ui-g,
.ui-g-12 {
  padding: 0.1em;
}
