<!DOCTYPE html>

<html lang="en-us">

<head>
    <title>Bootstrap Example</title>

</head>

<body class="body" style="padding: 10px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-6 col-lg-4 margin" style="color:white;background-color:orange;">
                This is div1.
            </div>
            <div class="col-sm-9 col-md-6 col-lg-8 margin" style="color:white;background-color:blue;">
                This is div2.
            </div>
            <div class="col-sm-3 col-md-6 col-lg-4 margin" style="color:white;background-color:green;">
                This is div3.
            </div>
            <div class="col-sm-9 col-md-6 col-lg-8 margin" style="color:white;background-color:gray;">
                This is div4.
            </div>
        </div>
    </div>
</body>

</html>